@import "blueprintcss/blueprint/src/reset.css";
@import "blueprintcss/blueprint/plugins/fluid/liquid.css";
@import "blueprintcss/blueprint/src/typography.css";
@import "blueprintcss/blueprint/src/forms.css";
@import "blueprintcss/blueprint/plugins/fancy-type/screen.css";
@import "blueprintcss/blueprint/plugins/tabs/screen.css";
@import "blueprintcss/blueprint/plugins/buttons/screen.css";

.grid { background: url(../images/grid.png); }
.container {
	min-width: 790px;
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.tabs { overflow: hidden; }

body, #body, #panes {
	margin:1.5em 0;
	font-family: tahoma, trebuchet ms, arial, sans serif;
}

a, .link, #buttons { color: #0078CC; text-decoration: none; cursor: pointer; }
a:hover, .link:hover { color: #000; }
h2 { border-bottom: 1px solid #eee; }

#logo {
    /*
	background: url(../images/NetworkedNaturalist.png) no-repeat;
	//*/
	width: 708px;
}

#logo a {
	display: block;
	width: 708px;
	/* text-indent: -100000px; */
}

#header .tabs, #buttons {
    margin: 0;
	padding: 5px 0px 0px 0px;	
	color: #222;
	background-color: #F5F5F5;
	border-bottom: 0;
}
#header .tabs li, #buttons li {
	background-color: #e5e5e5;
	margin-right: 5px;
	border: 0;
}
#header .tabs a, #buttons li {
    border: 1px solid #E5E5E5;
    border-bottom: 0;
    font-weight: normal;
	padding: 5px 10px 8px 10px;
	color: #333333;
	text-decoration: none;
}

#header .tabs a:hover, #buttons li:hover {
	background-color: #fff;
	text-decoration: underline;
}

#header .tabs a.active, #buttons li.active {
	background-color: #fff;
}

#header .tabs a.active a:hover, #buttons li.active li:hover {
	text-decoration: underline;
}

#top_nav { padding-top: 18px;}

#site_plant_listing td {
	vertical-align: top;
	border-bottom: 1px solid #ddd;
}

#site_plant_listing {
	border: 1px solid #ccc;
	border-bottom: 0px;
}

.box { padding-bottom: 0; }
.plant_info, .plant_observation, .plant_comment { border-bottom: 1px solid #eee !important; }
.center { text-align: center; }
.right { text-align: right; }
.quiet a { color: #004f80; }
.quiet a:hover { color: #000; }
th { background-color: #ccc; }

p + p  { margin-top: 1.5em; text-indent:0; }

.plant_image img { width: 100%; }
.plant_box_info { font-size: 0.80em;}
.note { color: #f00; }
.invisible { visibility: hidden; position: absolute; width:0; height:0; margin:0; padding:0; top:0; left:0; }


#sms_demo_phone {
    /*
	background: url(../images/bigphone.jpg) no-repeat;
	//*/
	height: 448px;
}

#sms_demo_phone_message {
	margin-top: 125px;
	margin-left: 50px;
	font-size: 1.0em;
	line-height: 1.0em;
	width: 150px;
	height: 175px;
	white-space: pre;
	white-space: -moz-pre-wrap;
	word-wrap: break-word;
	overflow-y: hidden;
}

.thumbnail {
	background: #fff;
	border: 1px solid #ccc;
	text-align: center;
	width: 100%;
}

.thumbnail:hover {
    border: 1px solid #0078CC;
}

img.thumbnail {
	padding: 5px;
	margin: -5px;
	margin-right:-10px;
}

.settings_table { margin-bottom: 0; }
.settings_table td { vertical-align: top; padding-left: 0; }
.settings_table td input { width: 100%; }

.disabled { color: #ccc; }
.log ul, .log li { list-style: none }

#sidebar-recent { margin-left: 0; margin-right: 0;}
#sidebar-recent li { margin-bottom: 1.5em;}

#map {
    width: 100%;
    height: 600px;
}

.sub-header .feed {
    margin-top: 0.75em;
    float: right;
}

.inline, .log.inline li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    zoom: 1;
    *display: inline;
}

p.right { float:right; margin:0 0 1.5em 1.5em; padding:0;}

.sponsors-logos li {
	height: 40px;
}
.sponsors-logos img {
	height: 100%;
}

#footer .sponsors-logos, #footer .sponsors-logos li {
	margin: 0; padding: 0;
}

#footer .sponsors-logos li {
	height: 25px !important;
}
