    # Be sure to only have this line once in your configuration
    NameVirtualHost 127.0.0.1:80

    # This is the configuration for habwatch
    Listen 127.0.0.1:80

    <VirtualHost 127.0.0.1:80>
      ServerName habwatch.localhost
      DocumentRoot "C:\www\habwatch\web"
      DirectoryIndex index.php
      <Directory "C:\www\habwatch\web">
        AllowOverride All
        Allow from All
      </Directory>

      Alias /sf "C:\www\habwatch\data\web\sf"
      <Directory "C:\www\habwatch\data\web\sf">
        AllowOverride All
        Allow from All
      </Directory>
    </VirtualHost>
